{{ partial "header.html" . }}
  <section>
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
      <a class="post-readon" href="{{ .Permalink }}">
        <h1 id="post-title">{{ .Title }}</h1>
      </a>
      <h2 id="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</h2>
      <p class="post-summary">{{ .Summary }}</p>
      <br />
    {{ end }}

    {{ if .Paginator.HasPrev }}
    <a class="post-readon" href="{{ .Paginator.Prev.URL }}">Page {{ .Paginator.Prev.PageNumber }}</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a class="post-readon" href="{{ .Paginator.Next.URL }}">Page {{ .Paginator.Next.PageNumber }}</a>
    {{ end }}
  </section>
{{ partial "footer.html" . }}
